@import "./variables";

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

footer {
  background-color: $footer_background;
  color: white;
}
