@mixin boxcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin basebtn {
  border-radius: 50px;
  border: none;
  box-shadow: 5px 5px 15px grey;
  padding: 15px;
  margin-top: 10px;
  color: white;
  outline: none;
  cursor: pointer;
  background-image: $color_gradientheart
    /*linear-gradient(
    to top left,
    $color_primaire,
    $color_secondaire
  )*/;
}

@mixin boxbase {
  width: 90%;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 30px grey;
  text-decoration: none;
  color: black;
  background-color: white;
}

@mixin pseudoelem {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
