$color_primaire: #9356dc;
$color_secondaire: #ff79da;
$Color_tertiaire: #99e2d0;
$color_nouveau: #139273;
$color_backnouveau: #99e2d0;
$color_check: #99e2d0;

$color_gradientheart: linear-gradient(#9356dc, #ff79da);

$lightbackgroung: #f6f6f6;
$darkerbackgroung: #eaeaea;

$footer_background: #353535;
